<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Edit Entry</title>
</head>

<body>
    <header>
        <h1>Edit <%= entry.city %>'s Info</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/entries">Entries Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Entry Attributes:</h2>
        <form action="/entries/<%= entry._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="text" name="country" value="<%= entry.country %>" /><br />
            <input type="text" name="city" value="<%= entry.city %>" /><br />
            <input type="text" name="region" value="<%= entry.region %>" /><br />
            <label for="images">Select images:</label>
            <input type="file" id="images" name="images" multiple>
            <label for="imageYours">Is this Image Yours?:</label>
            <input type="checkbox" name="imageYours" value="<%= entry.imageYours %>" /><br />
            <label for="visited">Have you visited?:</label>
            <input type="checkbox" name="visited" value="<%= entry.visited %>" /><br />
            <input type="submit" value="Update Entry" />
        </form>
    </main>
</body>

</html>