<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entries Index</title>
    <link rel="stylesheet" type="text/css" href="style/entries-index.css">
</head>
<body>
    <header>
    <h1>Your Checklist</h1>
    <h4 id="all">All</h4>
    <h4 id="visited">Visited</h4>
    <h4 id="unvisited">Unvisited</h4>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/entries/new">Add a New Destination</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>List of Destinations</h2>
        
            <ul>
               <% for( let i = 0; i < entries.length; i++ ) { %>
                <a href="/entries/<%= entries[i]._id%>">
                    <li <%if (!entries[i].visited) {%> class='unvisited' <% } else { %> class='visited' <% } %>><%= entries[i].country %>
                        <% if (entries[i].region) { %>
                    <ul>
                    <li><%=entries[i].region%></li>
                    <% } %>
                    <ul>
                        <%if(entries[i].visited) { %>
                            <li class="check"><%='\u2705'%></li>
                             <%}%>
                    <li class="cityli"><%=entries[i].city%></li>
                    
                    </ul>
                    <% if (entries[i].region) { %>
                    </ul>
                </li>
                <% } %>
                </a>
                <% } %>
            </ul>
        <!-- <h2> Traveler's Checklist</h2> -->
    </main>
    <script>
        let visitedElements = document.querySelectorAll('.visited')
        let unvisitedElements = document.querySelectorAll('.unvisited')
        console.log(visitedElements)
        console.log(unvisitedElements)

        document.getElementById('all').addEventListener("click", myFunction1);
        document.getElementById('visited').addEventListener("click", myFunction2);
        document.getElementById('unvisited').addEventListener("click", myFunction3);

        
function myFunction1() {
    visitedElements.forEach((element) => {
        element.style.display = 'block';
    });
    unvisitedElements.forEach((element) => {
        element.style.display = 'block';
    });
}
function myFunction2() {
    visitedElements.forEach((element) => {
        element.style.display = 'block';
    });
    unvisitedElements.forEach((element) => {
        element.style.display = 'none';
    });
}
function myFunction3() {
    visitedElements.forEach((element) => {
        element.style.display = 'none';
    });
    unvisitedElements.forEach((element) => {
        element.style.display = 'block';
    });
}
    </script>
</body>
</html>