<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <style>
        /* Body styles */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #fff7ed;
            color: #333;
            margin: 0;
            padding: 0;
        }
    
        /* Header styles */
        header {
            background-color: #ecd6d6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
        }
    
        header h1 {
            margin: 0;
            font-size: 2em;
        }
    
        nav ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }
    
        nav li {
            margin-left: 1em;
        }
    
        nav a {
            text-decoration: none;
            color: #333;
            font-size: 1.2em;
        }
    
        /* Main styles */
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 1em;
        }
    
        section {
            margin: 1em;
        }
    
        h2 {
            font-size: 1.5em;
            margin: 0.5em 0;
        }
    
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    
        li {
            margin: 0.5em 0;
        }
    
        img {
            margin: 0.5em;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    
        form input[type="submit"] {
            background-color: #ef5350;
            color: #fff;
            padding: 0.5em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        a {
            text-decoration: none;
            color: #333;
        }
    </style>
    
</head>

<body>
    <header>
        <h1>Show Page for <%= entry.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/entries">Entry Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Entry Attributes:</h2>
            <ul>
                <li>Country: <%= entry.country %></li>
                <li>State/Region: <%= entry.region %></li>
                <li>City: <%= entry.city %></li>
                <li>Images Yours?: <%= entry.imageYours %></li>
                <li>Visited?: <%= entry.visited %></li>
            </ul>
            <h2>Images:</h2>
            <ul>
            <% for (let i = 0; i < entry.images.length; i++) { %>
             <li><img src="../../uploads/<%=entry.images[i] %>" width="200vh" /></li>
            <% } %>
            </ul>
        </section>
        <section>
            <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Entry" />
            </form>
        </section>
        <section>
            <a href="/entries/<%= entry._id %>/edit">Edit entry info</a>
        </section>
    </main>
</body>

</html>