<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
</head>

<body>
    <header>
        <h1>Show Page for <%= entry.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/entries">Entry Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Entry Attributes:</h2>
            <ul>
                <li>Country: <%= entry.country %></li>
                <li>State/Region: <%= entry.region %></li>
                <li>City: <%= entry.city %></li>
                <li>Images Yours?: <%= entry.imageYours %></li>
                <li>Visited?: <%= entry.visited %></li>
            </ul>
            <h2>Images:</h2>
            <ul>
            <% for (let i = 0; i < entry.images.length; i++) { %>
             <li><img src="../../uploads/<%=entry.images[i] %>" width="200vh" /></li>
            <% } %>
            </ul>
        </section>
        <section>
            <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Entry" />
            </form>
        </section>
        <section>
            <a href="/entries/<%= entry._id %>/edit">Edit entry info</a>
        </section>
    </main>
</body>

</html>