<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Show Page</title>
    <link rel="stylesheet" type="text/css" href="style/entries-show.css">
</head>

<body>
    <header>
        <h1> <%= entry.city %>, <%= entry.region %>, <%= entry.country %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/entries">Back</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Details:</h2>
            <ul class="details">
                <li>Country: <%= entry.country %></li>
                <li>State/Region: <%= entry.region %></li>
                <li>City: <%= entry.city %></li>
                <% if (entry.imageYours) { %>
                <li>Added to Photos </li>
                <% } %>
                <% if (entry.imageYours) { %>
                <li>Visited <%='\u2705'%></li>
                <% } else { %>
                    <li>Not Yet Visited</li>
                    <% } %>
            </ul>
            <h2>Images:</h2>
            <ul class="imagelist">
            <% for (let i = 0; i < entry.images.length; i++) { %>
             <li class="images"><img src="../../uploads/<%=entry.images[i] %>" width="200vh" /></li>
            <% } %>
            </ul>
        </section>
        <section>
            <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Entry" />
            </form>
        </section>
        <section>
            <a href="/entries/<%= entry._id %>/edit">Edit entry info</a>
        </section>
    </main>
</body>

</html>